<ion-content>

  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>ServiMotor Express</h1>
      <p>Tu taller mecanico confiable</p>
    </ion-label>
  </ion-title>

  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">

      <ion-card-title class="ion-text-center">
        <a routerLink="/home">Home</a>
        <ion-label>
          <h1>¡Bienvenido!</h1>
        </ion-label>
        <img src="assets/images/logo1.jpg" alt="Logo de la Empresa" class="logo">
      </ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="login.Usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="login.Password"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button shape="block" (click)="ingresar()">Ingresar</ion-button>
      <br>
      <ion-label>
        <p><a routerLink="/recover-pass">¿Olvidaste tu contraseña?</a></p>
        <br>
        <p>¿No tienes una cuenta? <a routerLink="/register-user">¡Regístrate aquí!</a></p>
      </ion-label>
      
    </ion-card>
  </div>
  
  
</ion-content>