ion-content {
    --background: rgb(85, 21, 9);
}

.container {
    -webkit-animation: swing-in-top-fwd .3s cubic-bezier(.300, .885, .32, 1.275) both;
    animation: swing-in-top-fwd .2s cubic-bezier(.300, .885, .50, 1.275) both;

    img {
        margin-top: 80%;
        align-items:end;
        width: 200px; /* Ancho del contenedor */
        height: 200px; /* Altura del contenedor */
        border: 5px solid #aa0f0f; /* Para visualizar el contenedor */
    }
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1
    }
}
@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-200deg);
        transform: rotateX(-1200deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 10
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1
    }
}
